* {box-sizing: border-box;}
a {text-decoration: none;}
code {font-weight: bold;}
.spacious li {padding-bottom: 0.6em}
.spacious dd {padding-bottom: 1em}
body {
  font-family: Arial;
  padding: 10px;
  background: #dee7f5;
}
.header {
  padding: 30px;
  text-align: center;
  background: white;
}
.header h1 {font-size: 50px;}
.topnav {
  overflow: hidden;
  background-color: #334669;
}
.topnav a {
  float: left;
  display: block;
  color: #f0f0fa;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.topnav a:hover {
  background-color: #a5b3cd;
  color: black;
}
.leftcolumn {   
  float: left;
  width: 75%;
}
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #dee7f5;
  padding-left: 20px;
}
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.menu {
  background-color: #dee7f5;
  padding: 0px;
  margin-top: 20px;
}
.menu ul {
  list-style-type: none;
  overflow: hidden;
  padding: 0
}
.menu li {
  position: relative;
  padding-bottom: 0.6em;
}
.menu li a {
  padding: 0.5em;
  display: block;
  line-height: 1em;
  background-color: #334669; 
  text-decoration: none;
  color: #ffffff
}
.menu li a:hover {background-color: #a5b3cd; color: #000000}
.footer {
  padding: 20px;
  text-align: center;
  background: #a4b7d8;
  margin-top: 20px;
}
img.expand {
  max-width:100%;
  height:auto;
  margin-left: auto;
  margin-right: auto;
  display: block
}
div.maxima {
  border: 1px solid #334669;
  padding: 0.5em;
  line-height: 2em;
  word-wrap: break-word;
  background-color: #dee7f5;
}
span.maxlabel {color: #dd0000}
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
